h1{color: #0000ff;}
span{color: #ff0000}
marquee{background-image:url("img.jpeg.jpg");}
#rebel{color: Magenta; text-decoration:line-through;}
.bean{background-image:url("gif.gif"); height: 500px; width: 500px;}
#red {background-color: purple;}